body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* remove scrollbar */
  height: 100%;
  width: 100%;
  background-color: #0f0f0f;
  font-family: sans-serif;
}

.ai-image-generator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
}

.header {
  font-size: 70px;
  font-weight: 500;
  margin: 0;
  text-align: center;
}
.header span {
  color: #de1b89;
  font-weight: 600;
}

.img-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-loading img {
  width: 480px;
  height: auto;
  border-radius: 30px;
}

.search-box {
  display: flex;
  width: 950px;
  height: 75px;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  background: #1f3540;
}

.search-input {
  width: 600px;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  color: white;
  padding-left: 35px;
  margin-right: 35px;
}
.search-input::placeholder {
  color: #999;
}

.generate-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 290px;
  height: 73px;
  font-size: 20px;
  border-radius: 50px;
  background: #de1b89;
  color: white;
  cursor: pointer;
}

.loading-bar {
  width: 0px;
  height: 8px;
  background: #de1b89;
}
.loading-text {
  font-size: 18px;
  color: white;
}
.loading-bar-full {
  width: 512px;
  height: 8px;
  background: #de1b89;
  transition: 15s;
}
.display-none {
  display: none;
}
